# Editor
*~
.*.sw[a-z]

# Windows
Thumbs.db

# Mac OS X
.DS_Store

# Fetched files
emsdk/
downloads/
objc4/
icu/
libdispatch/
libdispatch-linux/
libpwq/
libkqueue/
blocks-runtime/
Foundation/
libbsd/
Chameleon
UIKit-WinObjC
cairo
pixman
